{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket;
    $(document).ready(function(){
        socket = io.connect('/chat');
        socket.on('connect', function() {
            socket.emit('joined', {});
        });
        socket.on('status', function(data) {
            $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
            $('#chat').scrollTop($('#chat')[0].scrollHeight);
        });
        socket.on('message', function(data) {
            for (const e of data) {
                $('#chat').val(
                    $('#chat').val() + `${e.sent_on} - ${e.sender}: ${e.msg}` + '\n'
                );
            }
            $('#chat').scrollTop($('#chat')[0].scrollHeight);
        });
        $('#text').keypress(function(e) {
            var code = e.keyCode || e.which;
            if (code == 13 && $('#text').val() !== "") {
                if ($('#text').val().length > 1000)
                    alert("Message too long");
                text = $('#text').val();
                $('#text').val('');
                socket.emit('text', {msg: text});
            }
        });
    });
    $(window).bind('beforeunload', function(){
        if (socket.connected) {
            socket.emit('left', {}, function() {});
            socket.disconnect();
        }
    });
    function leave_room() {
        socket.emit('left', {}, function() {
            socket.disconnect();

            // go back to the home page
            window.location.href = "{{ url_for('main.home') }}";
        });
    }
    function clear_screen() {
        $('#chat').val("");
    }
    function send_message(test) {
        if ($('#text').val() !== "") {
            if ($('#text').val().length > 1000)
                alert("Message too long");
            text = $('#text').val();
            $('#text').val('');
            socket.emit('text', {msg: text});
        }

    }
</script>
{% endblock %}

{% block content %}
<div class="column is-10 is-offset-1">
    <h1 class="title">Room: {{ room }}</h1>
    <div class="box">
        <a href="#" onclick="clear_screen();">Clear Screen</a><br><br>
        <div class="field">
            <div class="control">
                <textarea id="chat" class="textarea is-primary is-medium" readonly></textarea>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input id="text" class="input is-large" placeholder="Send a message to {{ room }}">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-block is-primary is-large is-fullwidth" onclick="send_message();">Send</button>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-block is-warning is-large is-fullwidth" onclick="leave_room();">Leave this room</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
